# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.venv/

# Pipfile
Pipfile
Pipfile.lock

# Folder/file for testing
put_pdf_here/
extracted_images/
*.txt

# Editors / IDEs
.vscode/